*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.title{
    color: rgba(255, 0, 255, 0.432);
    text-align: center;
    margin: 40px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 618;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 30px;    
}

.sub-title{
    text-align: center;
}


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;               
    margin: 80px 40px;    
}

.card {
    width: calc(33.33% - 20px);
    min-width: 300px;          
    background-color: black; 
    display: flex;
    align-items: center;       
    padding: 10px;
    border-radius: 10px;
}

.card-image img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
    display: block; 
}

.card-name { 
    color: white;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
}

.card-role, .card-email {
    font-size: 14px;
    color: #555;
}

.card-email{
    color: lightskyblue;
}